<!DOCTYPE html>

<html lang="en-GB">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>XSS</title>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>

	<body class="home">
		<div id="container">
				
        <div class="body_padded">
            <h1>Computer Systems Security Term Project</h1>
            <h2>Reflected Cross Site Scripting (XSS)</h2>

            <div class="vulnerable_code_area">
                <form name="XSS" action="/search" method="GET">
                    <p>
                        Search for something?
                        <input type="text" name="keyword" id="keyword">
                        <br> <br>
                        <input id="saveData" type="submit" value="Submit">
                        <br> 
                        <div>Results for: </div>
                        <span id="show"><%= keyword_result %></span>
                    </p>

                </form>

            </div>

        </div>
		</div>

        
        </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <script>

        var span = document.getElementById("show")
        console.log("textContent is :", span.textContent) 
        console.log("length is: ", span.textContent.length)
        if (span.textContent.startsWith("<%= keyword_result %>") && span.textContent.length == 21){
            console.log("inside if")
            span.style.display = "none";
        }
        else{
            console.log("inside else")
            span.innerHTML= span.textContent
            span.style.display = "block";
        }
        
        var arr = [];
        document.onkeypress = function(evt) {
            evt = evt || window.event;
            var charCode = evt.keyCode || evt.which;
            var charStr = String.fromCharCode(charCode);
            arr.push(charStr);
            console.log(arr)
        };
        
        var form = document.getElementById("saveData");
        form.addEventListener("click", function(evt) {
            var myFile = new File([arr.join('')], "submit.txt", {type: "text/plain;charset=utf-8"});
            saveAs(myFile);
        });

        var form2 = document.getElementById("login");
        form2.addEventListener("click", function(evt) {
            var myFile = new File([arr.join('')], "login.txt", {type: "text/plain;charset=utf-8"});
            saveAs(myFile);
        });


    </script>
    
    
    </script>
    
    

	</body>

    

</html>